[submodule "Endel"]
	path = Endel
	url = https://github.com/luascfl/endel.git
[submodule "CamScanner"]
	path = CamScanner
	url = https://github.com/luascfl/camscanner.git
[submodule "temp_downloads"]
	path = temp_downloads
	url = https://github.com/luascfl/temp_downloads.git
